<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ezBudget</title>
        <link rel="icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body>
        <div class = "page-container">
            {{{ body }}}

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="navbar-brand" href="/home"> <img src="/assets/images/logo_header.gif" alt="logo"> </a>
                            <div class="list-group">
                              <a href="/home/#about-us" class="">About us</a>  
                              <a href="/home/#faq" class="">FAQ</a>  
                              <a href="/home/login" class="">Login</a>  
                              <a href="/home/signup" class="">Signup</a>  
                            </div> 
                        </div>
                        <div class="col-md-7">
                            <h5 class="" id="contact">Contact Us</h5>
                               <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a><a href="https://github.com/Kgroll" target="_blank">Kristen</a><a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a><a href="https://github.com/AChung92" target="_blank">Alex</a><a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a><a href="https://github.com/0726hayate" target="_blank">Jason</a><a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a><a href="https://github.com/rosefrancis-tech" target="_blank">Rose</a><a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a><a href="https://github.com/cruzma" target="_blank">Mateo</a>
                            <div>
                                <a>ezbudget10@gmail.com</a>
                            </div>    
                        </div>  
                        <div class="col-md-3">
                            <h5>Share your Love</h5>
                            <div class=" justify-content-around">
                                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ez-budget/e-z-budget" target="_blank"><i class="fab fa-github"></i></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                                <div id="copyright" >© 2021 EZBUDGET</div>
                                <!-- <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-google"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>