<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ezBudget</title>
        <link rel="icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        {{{ body }}}

        <footer>
            <div id="contact" class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div><i class="far fa-paper-plane"></i></div>
                        <div>ezbudget10@gmail.com</div> 
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div><i class="fas fa-map-pin"></i></div>
                        <div>Toronto</div> 
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>