<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/"> <img src="/public/assets/images/logo_header.jpg" alt="logo"> </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="logout">Logout</button>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
            </li>
            {{/if}}
        </ul>

    </nav>
</header>

<main>
    <div class="container-fluid">
        <div>
            {{#if loggedIn}}
            <p>Hello Insider!</p>
            {{else}}
            <p>Please signup to become a user and start budgeting</p>
            {{/if}}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-4">
                    <h2> Some Cool Stuffs</h2>
                    <a href=""></a>
                    <a href=""></a>
                </div>
                <div class="col-sm-9 col-md-6 col-lg-8">
                    <div class="col-12">
                        <h2>What is e-z-Budget?</h2>
                        <div>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                        </div>
                    </div>
                    <div id="about-us" class="col-12">
                        <h2>About Us</h2>
                        <div>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                        </div>
                    </div>
                    <div id="faq" class="col-12">
                        <h2>FAQ</h2>
                        <div>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}