<header>
    <nav class="navbar navbar-expand-sm justify-content-between">
        <a class="navbar-brand" href="/home"> <img src="/assets/images/logo_header.gif" alt="logo"> </a>
        <ul class="nav justify-content-end">
                <li class="nav-item">
                <a class="nav-link" href="/createbudget">Create</a>
            </li>

            
            <li class="nav-item">

                <a class="nav-link" href="#about-us">About Us</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class
            <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="logout">Logout</button>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/home/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/signup">Sign up</a>
            </li>
            {{/if}}
        </ul>

    </nav>
</header>

<main>

    <div class="jumbotron jumbotron-background">
        <div class="container">
            <h1 class="display-3">E-Z-Budget</h1>
            <h2 class="landing-headline">Experience a new way to budget</h2>
            <div class="text-center message">
                {{#if loggedIn}}
                <p>Hello User!</p>
                {{else}}
                <p>Please signup to become a user and start budgeting</p>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 col-md-6 col-lg-5 ">
                <ul class="post-list no-bullets">
                    <h2 class="text-center"></h2>
                    {{#each posts as |post|}}
                    <li class="light-gradient column">
                        {{> story-info post }}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 ">
                <div class="col-12 light-gradient column">
                    <h2>What is e-z-Budget?</h2>
                    <div>
                        e-z-Budget is a budgeting website. It can help track your personal finances on the go to
                        give you an overall picture of what you’re earning, what you’re spending, and what you may need
                        to change. It is typically designed for general personal budgeting to help you stay on track.
                    </div>
                </div>
                <div id="about-us" class="col-12 light-gradient column">
                    <h2>About Us</h2>
                    <div>
                        <p>
                            During Covid-19 pandemic saving is a common problem amongst most people. With a difficult
                            year behind us and an uncertain time ahead, for the first time in many
                            peoples lives financial uncertainty is of great concern.
                            We thought that it would be most effective to have a website that keeps track of your
                            spendings and savings.
                        </p>
                        <p>
                            According to a top physcologist regarding Covid:
                            “Financial concerns typically rank at the top of most peoples causes for worry and anxiety,”
                            “Millions of people now question how they will afford to provide for themselves and their
                            family, maintain housing, and other topics directly (and indirectly) involving financial
                            security.”
                        </p>
                        <p>
                            Hopefully, the thought of starting this website, was to have a centralized location where
                            the user can manage their expenses and income. A website where they can track their savings
                            and if there are areas where they need to save more. Or it could allow the user to see
                            whether they
                            are financially stable enough to treat themselves a little and still be able to be on track
                            in their savings goal.
                        </p>
                        <p>
                            With e-z-budget your basic financial data is at your fingertips in a matter of seconds and
                            laid out in a clear and precise manner. After all “Debt is stressful, even at 0% interest.”!
                        </p>
                    </div>
                </div>
                <div id="faq" class="col-12 light-gradient column">
                    <h2>FAQ</h2>
                    <div>
                        <h4>What are the advantages of e-z-Budget?</h4>
                        Our website is designed to make saving for your to make saving easier.
                        I’m sure many of us like myself find it difficult to save for a big purchase that you are
                        planning to make in a couple years. Especially with many online websites making purchasing
                        easier, I need a website that will keep my savings on track. The website is designed for the
                        person who needs constant motivation to save, as it enables them to keep track and see the
                        growth of their savings. If they ever feel like they are tempted to spend, they can use the
                        website to see how close they are to buying the purchase of their dreams. E-z-budget will
                        easily track your finances and allow users to log notes regarding issues or insights they
                        wish to keep track of.

                        <h4>How do I use e-z-Budget website?</h4>
                        The landing page is a clean and easy place to begin with. The existing users can login and
                        new users can go to sign up form from landing page and also to the home page to learn more
                        about our application.
                        In the home page, you can read the experiences and financial tips from our users.
                        Once you login, you are on Dashboard. The dashboard lets you access budgets and stories you
                        created.
                        When you create a Budget, you will be presented with its results including graphical
                        representations which is only visible to you. You can edit and delete each budget you
                        created.
                        The stories you create will be published on the homepage and will be visible to all website
                        visitors.
                        You can write, edit and delete your stories and also comment stories. The comments are also
                        visible to all website users and you will not be able to edit or delete the comments you
                        made on other user's stories.

                        <h4>How Much Does e-z-Budget Cost?</h4>
                        All features are free for users.

                        <h4>What’s the Difference Between a Budgeting App and Accounting Software?</h4>
                        Budgeting apps are can be used on the go, but not all accounting software has this option.
                        Such programs often offer more robust features
                        designed to be used on a computer. Accounting software typically costs more and has a
                        steeper learning curve while basic budgeting apps can be mastered in minutes.
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
 <script src="/javascript/createbudget.js"></script>
{{/if}}