<div class="landing-background">
    <header class="landing-header-background">
        <nav class="navbar navbar-expand-sm justify-content-end">
            <ul class="nav header-text-color justify-content-between landing-header">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home/signup">Sign up</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            <div class="login-container">
                
                <form class="login-form" id="login-form">
                    <div class="login-input">
                        <input type="text" id="email-login" placeholder="Email"/>

                        <input type="password" id="password-login" placeholder="Password"/>

                        <button type="submit">login</button>
                    </div>
                </form>
                <h1 class="landing-headline text-center">Experience a new way to budget</h1> 
                <div class="login-image-container">
                    <img src="../assets/images/Logo_animated.gif" />
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/javascript/login.js"></script>