<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/"> <img src="/assets/images/logo_header.gif" alt="logo"> </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-3 col-lg-2"></div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                        <form id="login-form">
                            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Email">
                            <input type="password" class="form-control" id="password-login" placeholder="Password">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
        </div>
    </div>        
</main>

<script src="/javascript/login.js"></script>
