<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/"> <img src="/public/assets/images/logo_header.jpg" alt="logo"> </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="logout">Logout</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
            </li>
            {{/if}}
        </ul>

    </nav>

<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form id="login-form" class="card-body">
        <div>
            <label for="username-input-login">Username</label>
            <input type="text" id="username-input-login" />
        </div>
        <div>
            <label for="email-input-login" class="form-label">Email Address</label>
            <input type="text" id="email-input-login" />
        </div>
        <div>
            <label for="password-input-login" class="form-label">Password</label>
            <input type="password" id="password-input-login" />
        </div>
        <button type="submit" id="login-btn" class="btn">Login</button>
        <a type="button" href="/signup">Sign up</a>
    </form>
</div>

<script src="/javascript/login.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}