body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
   background-color: #426D49; 

}

header{
    background-color: #426D49;   
    display: flex;
    justify-content: space-between;
}

header a img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


/* landing page */

.main-wrapper{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../assets/images/money-growing.jpg);
    /* background-size: 100% 100%; */
    object-fit:contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-container{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    /* margin-top: 31%;
    margin-bottom: 30.9%; */
    
}

.login-image-container{

    height: 150px;  
    width: 150px;
    border: 2px solid black;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 50%;

}

.login-image-container img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    border-radius: 50%;
}

/* landing page ends */

/* homepage */
.jumbotron-background{
    background-image: url(../assets/images/money-growing.jpg);
}

.columns-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.column{
    background-color: #426D49;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black; 
    width: 100%;
    /* margin: 20px;*/
}



/* hompage ends */

/* login page */
.login-header{
    display: flex;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* login page styling ends */

/* signup page syling begins*/

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* signup page ends */

/* footer */

footer{
    clear: both;
    border: 1px groove #aaaaaa;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}